
@{
    ViewBag.Title = "Index";
}

<h2>Котировки криптовалют</h2>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cripto Currency</title>
    <style>
        table {
            width: 100%; /* Ширина таблицы */
            border-collapse: collapse; /* Убираем двойные линии между ячейками */
        }

        td, th {
            padding: 4px; /* Поля в ячейках */
            border: 1px solid #999; /* Граница между ячейками */
        }

        thead {
            background: #666; /* Цвет фона строки заголовка */
            color: #fff; /* Цвет текста */
        }

        tfoot {
            background: #666; /* Цвет фона строки заголовка */
            color: #fff; /* Цвет текста */
        }
    </style>
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th><p>Название</p></th>
                    <th><p>Символ</p></th>
                    <th><p>Ранг</p></th>
                    <th><p>Текущая цена USD</p></th>
                    <th><p>Изменение цены за последний час</p></th>
                    <th><p>Изменение цены за последние 24 часа</p></th>
                    <th><p>Капитализация USD</p></th>
                    <th><p>Время обновления данных</p></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th><p>Название</p></th>
                    <th><p>Символ</p></th>
                    <th><p>Ранг</p></th>
                    <th><p>Текущая цена USD</p></th>
                    <th><p>Изменение цены за последний час</p></th>
                    <th><p>Изменение цены за последние 24 часа</p></th>
                    <th><p>Капитализация USD</p></th>
                    <th><p>Время обновления данных</p></th>
                </tr>
            </tfoot>
            @foreach (var j in ViewBag.curr)
            {
                <tr>
                    <td><p>@j.name</p></td>
                    <td><p>@j.symbol</p></td>
                    <td><p>@j.rank</p></td>
                    <td><p>@j.price_usd</p></td>
                    <td><p>@j.percent_change_1h</p></td>
                    <td><p>@j.percent_change_24h</p></td>
                    <td><p>@j.market_cap_usd</p></td>
                    <td><p>@j.last_updated</p></td>
                </tr>
            }
        </table>
        </div>
    </body>
</html>

